body
{
	font-family: "Cantarell" !important;
	border: 1px solid rgba(255, 255, 255, 0.5);
	background-color: #F5F5F5;
}

.navbar, .dropdown-toggle
{
	background: url("../images/bar.png") !important;
	background-size: 100% 100%;
}

.navbar-brand, .navbar-nav > li > a
{
	color: white !important;
	text-shadow: 0 0 1px black;
}

.navbar-nav
{
	position: absolute;
	left: 20%;
}

.navbar-nav > li.active > a
{
	background: -webkit-linear-gradient(bottom, #AF3128 0%, #D45241 100%) !important;
	border-radius: 5px;
}

.navbar-nav > li > a:hover
{
	background: rgba(255, 255, 255, 0.2) !important;
	border-radius: 5px;
}
.navbar-text
{
	color: white !important;
}
.navbar-text > a
{
	color: yellow !important;
	font-weight: bold;
}
.categories
{
}

.category-icon
{
	width: 36px;
	margin-right: 10px;
}

.contents
{
	background: transparent;
}

.category-bar
{
	padding: 3px 3px 3px 10px;
	/* background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%); */
	background-color: #fff;
	border: 1px solid #DDD;
	color: #222;
	font-weight: bold;
	width: 90%;
	margin: auto;
}

.item
{
	background-color: #E8F3F9;
	border-radius: 5px;
	margin: auto;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 90%;
	padding: 3px;
	border: 1px solid #DDD;
	min-height: 57px;
}

.item-icon
{
	display: inline-block;
	float: left;
	max-width: 48px;
	width: 48px;
	height: 48px;
	margin-right: 10px;
	margin-left: 5px;
}

.item-icon > img
{
	width: 48px;
}

.item-desc
{
	display: inline-block;
	padding-left: 5px;
}

.item-title
{
	font-weight: bold;
	font-size: 1em;
}

.item-author, .item-version
{
	font-size: 0.9em;
}

.item-rating
{
	color: gold;
}

.item-action
{
	position: relative;
	float: right;
	top: 10px;
	right: 10px;
}

.item-install
{
	display: inline-block;
	float: right;
	font-size: 0.8em;
	font-weight: bold;
	border: none;
	background-color: #43CD80;
	color: white;
}
